<!-- This is the footer include file. -->

<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">
                <!-- Contact -->
                <section class="widget contact last">
                    <ul>
                        <li><a href="https://www.facebook.com/florentina.redzuschnell"> <i class="fab fa-facebook-f fa-lg"></i> </a> </li>                           </span></a></li>
                                    <li> <a href="mailto:florentina.hofbauer@gmail.com"><i class="fas fa-at fa-lg"></i></a></li>
                                    <li> <a href="https://github.com/FlorentinaMargarita"><i class="fab fa-github-square fa-lg"></i></a></li>
                                    <li> <a href="https://www.linkedin.com/in/florentina-hofbauer-461917186/"><i class="fab fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Florentina Hofbauer. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<!-- end footer include -->
</div>